$primary-font: 'Libre Franklin', sans-serif;
$secondary-font:'Shrikhand', cursive;
$primary-color: #1F243E;
$secondary-color: #384265;
$highlight-color-1: #E84A62;
$highlight-color-2: #22A9AC;
$font-color: #FFFFFF;
$font-dark: #000000;

body {
  background: $primary-color;
  color: $font-color;
  font-family: $primary-font;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid $highlight-color-2;
  background-color: $secondary-color;
}

h2 {
  color: $font-color;
  font-family: $secondary-font;
  text-shadow: 2px 2px 1px $highlight-color-1;
  padding: 0 0 0 3px;
}

h5 {
  color: $font-color;
  background: $secondary-color;
  display: inline;
  padding: 10px 10px 5px 10px;
  margin: 10px 40px 10px -15px;
  font-family: $secondary-font;
  text-shadow: 2px 2px 1px $highlight-color-1;
}

h6 {
  text-align: center;
}

.linklogos {
    height: 1em;
    margin: .5em;
    justify-content: flex-end;
}

#git {
  height: 2em;
  margin: .25em .5em -.75px -.75px;
  overflow: hidden;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.flexbox .col {
  flex: 1;
  align-items: center;
  padding: 1px;
  height: inherit;
  overflow: hidden;
}

.container-fluid {
  flex-wrap: wrap;
  display: flex;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
}

.techicons {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.projects {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.projectbubbles {
  background: $highlight-color-1;
  border-radius: 16px;
  color: $font-color;
  border: 5px groove $font-color;
  padding: 5px;
  margin: 0 auto;
  align-content: space-around;
}

.speach {
  background: $highlight-color-2;
  border-radius: 16px;
  color: $font-color;
  border: 1px groove $font-color;
  padding: 5px;
}

.tempsquare {
  min-height: 500px;
  max-height: 500px;
  flex-direction: column;
}

.collapse, .card {
  background-color: transparent;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
}

.firstsection {
  padding-top: 75px;
}

@media only screen and (min-width: 697px) {
  .projectbubbles {
    width: 22%;
  }
}

@media only screen and (max-width: 697px) {
  h5 {
    font-size: 20px;
  }
}
